<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ONDA PENSION PMS PC    

    //- scripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='/assets/sweetalert/sweetalert.min.js')
    script(src='/js/onda.js')

    //- styles
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css')
    link(rel='stylesheet', href='/assets/sweetalert/sweetalert.css')
    link(rel='stylesheet', href='/css/onda.css')

  //- Start BODY
  body
    
    //- Start Topbar
    #topbar.row.no-gutters
      .col-lg-8.d-md-flex
        a#title.nav(href='/reservations') 제이의 뉴욕펜션
        input#search(type='text', placeholder='예약검색')
        a.nav(href='/reservations', data-toggle='tooltip', data-placement='bottom', title='예약목록')
          i.fa.fa-reorder.fa-2x          
        a.nav(href='#', data-toggle='tooltip', data-placement='bottom', title='객실달력')
          i.fa.fa-calendar.fa-2x      
        a.nav(href='#', data-toggle='tooltip', data-placement='bottom', title='방막기')
          i.fa.fa-calendar-times-o.fa-2x
        a.nav(href='#', data-toggle='tooltip', data-placement='bottom', title='정산목록')
          i.fa.fa-krw.fa-2x
      .col-lg-4.d-flex
        a.nav.ml-auto(href='#', data-toggle='tooltip', data-placement='bottom', title='실시간 예약창')
          i.fa.fa-desktop.fa-2x.mr-1          
        a.nav.active(href='/setting/business', data-toggle='tooltip', data-placement='bottom', title='설정')
          i.fa.fa-gear.fa-2x.mr-1
        .dropdown.show
          a.nav(href='#', role='button', id='dropdownUser', data-toggle='dropdown', aria-haspopiup='true', aria-expanded='false')
            i.fa.fa-user.fa-2x
            span 안주성
            i.fa.fa-angle-down.ml-2
          .dropdown-menu(aria-labelledby='dropdownUser')
            .px-4
              small.text-muted 언어선택
            a.dropdown-item(href='#') English
            a.dropdown-item(href='#') 한국어
            .dropdown-divider
            a.dropdown-item(href='#') 도움말
            a.dropdown-item(href='#') 문의 &amp; 수정요청
            .dropdown-divider
            a.dropdown-item(href='#') 로그아웃