#left-side.col-md-4.col-lg-3.col-xl-2
  h1.title 설정
  
  .menu-group
    .group-title.d-flex
      span 정보관리
      i.fa.fa-angle-down.ml-auto    
    a.active(href='/hotel/setting/hotel') 호텔정보
    a(href='#') 객실정보
    a(href='#') 판매정책
  .menu-group
    .group-title.d-flex
      span 요금관리
      i.fa.fa-angle-down.ml-auto
    a(href='#') 기본요금
    a(href='#') 추가인원요금