include includes/header.pug
.row.no-gutters
  #content.col-md-12
    
    .row
      .col-lg-3
        h1 객실달력
      .col-lg-6
        .d-flex.justify-content-center
          h1
            button.btn.btn-light.btn-white.btn-lg(type='button')
              i.fa.fa-angle-left.fa-2x
            | 2017년
            button#dropdownMenuButton1.btn.btn-light.btn-white.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown',aria-haspopup="true" aria-expanded="false")
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton1')
              .dropdown-item(href='#') 2017년
              .dropdown-item(href='#') 2018년
          h1
            | 11월
            button#dropdownMenuButton2.btn.btn-light.btn-white.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown',aria-haspopup="true" aria-expanded="false")
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton2')
              .dropdown-item(href='#') 1월
              .dropdown-item(href='#') 2월
              .dropdown-item(href='#') 3월
              .dropdown-item(href='#') 4월
              .dropdown-item(href='#') 5월
              .dropdown-item(href='#') 6월
              .dropdown-item(href='#') 7월
              .dropdown-item(href='#') 8월
              .dropdown-item(href='#') 9월
              .dropdown-item(href='#') 10월
              .dropdown-item(href='#') 11월
              .dropdown-item(href='#') 12월            
            button.btn.btn-light.btn-white.btn-lg(type='button')
              i.fa.fa-angle-right.fa-2x        

      .col-lg-3.text-lg-right
        button.btn.btn-light.mr-2(type='button')
          i.fa.fa-krw.fa-lg.mr-1
          span 요금보기
        //- button.btn.btn-light(type='button')
        //-   i.fa.fa-tasks.fa-lg.mr-2            
        //-   span 차트로 보기
      
    //- 달력시작
    table.table-calendar.mt-4
      thead
        tr
          th.holiday 일
          th 월
          th 화
          th 수
          th 목
          th 금
          th.holiday 토
      tbody
        tr
          td.holiday.dimed
            .d-flex
              .date 26                
            .other-month 지난달
          td.dimed
            .date 27
            .other-month 지난달
          td.dimed
            .date 28
            .other-month 지난달
          td.dimed
            .date 29
            .other-month 지난달
          td.dimed
            .date 30
            .other-month 지난달    
          td.past
            .d-flex
              .date 1
              .season.ml-auto 비수기
          td.holiday.past
            .d-flex
              .date 2
              .season.ml-auto 비수기
        tr
          td.holiday.past
            .d-flex
              .date 3
              .season.ml-auto 비수기
          td.past
            .d-flex
              .date 4
              .season.ml-auto 비수기
          td
            .d-flex
              .date.today 5
              .season.ml-auto 비수기
          td
            .d-flex
              .date 6
              .season.ml-auto 비수기              
            .room(data-toggle='modal', data-id='1', data-target='#exampleModal')
              .d-flex
                .status.complete
                .roomname 맨하탄
              .price 120,000원
            .room(data-toggle='modal', data-id='2', data-target='#exampleModal2')
              .d-flex
                .status.available
                .roomname 스테이튼 아일랜드
              .price 120,000원
            .room
              .d-flex
                .status.available
                .roomname 브롱스
              .price 120,000원                
            .room
              .d-flex
                .status.available
                .roomname 부르클린
              .price 240,000원
              
            .room(data-toggle='collapse', data-target='#collapse2')
              .d-flex
                .status.available
                .roomname 아스토리아
                .text-stock.ml-auto 4/5
              .price 240,000원

            #collapse2.collapse
              .stock
                a.complete(href='#') 조
                a.complete(href='#') 김
                a.complete(href='#') ki
                a.complete(href='#') 최
                a.available(href='#') &nbsp;
          td
            .d-flex              
              .date 7            
              .season.ml-auto 비수기              
          td
            .d-flex
              .date 8
              .season.ml-auto 비수기
          td.holiday
            .d-flex
              .date 9
              .season.ml-auto 비수기
        tr
          td.holiday
            .d-flex           
              .date 10
              .season.ml-auto 비수기           
          td.holiday
            .d-flex
              .date 11
              .special-day 빼빼로데이
              .season.ml-auto 비수기
          td
            .d-flex
              .date 12
              .season.ml-auto 비수기     
          td
            .d-flex              
              .date 13            
              .season.ml-auto 비수기
            .room.d-flex
              .status.waiting
              .roomname 맨하탄
            .room.d-flex
              .status.callonly
              .roomname 스테이튼 아일랜드
              .text-stock.ml-auto
            .room.d-flex
              .status.blocked
              .roomname 브롱스
              .text-stock.ml-auto
            .room.d-flex
              .status.available
              .roomname 부르클린
              .text-stock.ml-auto
            .room.d-flex(data-toggle='collapse', data-target='#collapse3')
              .status.available
              .roomname 아스토리아
              .text-stock.ml-auto 1/5
            #collapse3.collapse
              .stock
                a.waiting(href='#') 심
                a.callonly(href='#')
                a.blocked(href='#')
                a.available(href='#') &nbsp;
                a.available(href='#') &nbsp;
          td
            .date 14            
          td
            .date 15
          td.holiday
            .date 16
        tr
          td.holiday
            .date 17
          td
            .date 18
          td
            .date 19
          td
            .date 20
          td
            .date 21
          td
            .date 22
          td.holiday
            .date 23
        tr
          td.holiday
            .date 24
          td
            .date 25
          td
            .date 26
          td
            .date 27
          td
            .date 28            
          td
            .date 29
          td.holiday
            .date 30
        tr
          td.holiday
            .date 31
          td.dimed
            .date 1
            .other-month 다음달
          td.dimed
            .date 2
            .other-month 다음달
          td.dimed
            .date 3
            .other-month 다음달
          td.dimed
            .date 4         
            .other-month 다음달   
          td.dimed
            .date 5
            .other-month 다음달
          td.holiday.dimed
            .date 6
            .other-month 다음달
          
    .mt-4.text-right
      span.mr-4 
        strong 아이콘설명
      .status.available
      span.mr-4 예약가능
      .status.waiting
      span.mr-4 예약대기
      .status.complete
      span.mr-4 예약완료
      .status.callonly
      span.mr-4 전화문의
      .status.blocked
      span.mr-4 방닫힘
        
        
    //- Modal: 예약조회
    #exampleModal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title 
              | 예약조회
              small.text-muted.ml-2 판매대행 by NAVER
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col-md-4              
                h3.mb-4 예약정보
                .form-group
                  label 예약자명
                  input.form-control(type='text', value='아이유')
                .form-group
                  label 전화번호
                  input.form-control(type='text', value='010-5540-5200')
                .form-group
                  label 예약상태
                  select.form-control
                    option 입금대기
                    option 예약완료
                .form-group
                  label 예약요청일시
                  input.form-control(type='text', value='2017-10-17 14:37:21', disabled)
                .form-group
                  label 예약메모
                  textarea.form-control(rows='4')
                .form-group
                  button.btn.btn-light(type='button', data-toggle='collapse', data-target='#collapse1')
                    i.fa.fa-envelope.fa-lg.mr-1
                    span 문자발송내역
                  
                  //- 문자발송내역
                  #collapse1.collapse.mt-2
                    textarea.form-control(rows='17', disabled).
                      [@업체명] @고객명님 예약이 완료되었습니다.

                      - 객실명: @객실명방
                      - 이용일: @입실일
                      - 이용인원: @객실이용인원명

                      - 펜션주소: @업체주소
                      - 펜션전화: @업체전화번호
                      - 고객요청사항: @고객요청사항

                      - 결제금액: @결제금액
                      - 결제방식: 카드

                      오시기 전에 필요하신 사항을 알려주시면 준비해드리겠습니다.

              .col-md-8
                h3.mb-4 입실정보
                .form-row
                  .col
                    .form-group   
                      label 입실일
                      input.form-control(type='date', value='2017-11-18')
                  .col
                    .form-group
                      label 퇴실일
                      input.form-control(type='date', value='2017-11-19')
                .form-row
                  .col
                    .form-group   
                      label 도착예정시간
                      input.form-control(type='time', value='')
                  .col
                    .form-group
                      label 퇴실예정시간
                      input.form-control(type='time', value='')
                .form-group
                  label 예약객실
                  select.form-control
                    option(selected) 맨하탄
                    option(disabled) 스테이튼 아일랜드 (완료)
                    option 브롱스
                    option 부르클린
                    option 아스토리아
                .form-group
                  label 투숙인원
                  .form-row
                    .col
                      .input-group
                        span.input-group-addon 성인
                        input.form-control(type='number', value='2', min='0')
                    .col
                      .input-group
                        span.input-group-addon 아동
                        input.form-control(type='number', value='0', min='0')
                    .col  
                      .input-group
                        span.input-group-addon 유아
                        input.form-control(type='number', value='0', min='0')
                .form-group
                  label 부가서비스
                  .form-row
                    .col-5
                      h6.p-2 바베큐(참숯+그릴)                        
                    .col-3
                      .input-group
                        input.form-control(type='number', value='1', min='0')
                        span.input-group-addon 개
                    .col-4
                      .input-group
                        input.form-control(type='text', value='30,000')
                        span.input-group-addon 원                
                  .form-row
                    .col-5
                      h6.p-2 조식서비스
                    .col-3
                      .input-group
                        input.form-control(type='number', value='0', min='0')
                        span.input-group-addon 개
                    .col-4
                      .input-group
                        input.form-control(type='text', value='0')
                        span.input-group-addon 원                
                .form-row
                  .col-8
                    .form-group
                      label 결제금
                      .input-group
                        input.form-control.form-control-lg.text-right(type='text', value='880,000', disabled)
                        span.input-group-addon 원
                  .col-4
                    .form-group
                      label + 현장결제금
                      .input-group
                        input.form-control.form-control-lg.text-right(type='text', value='0')
                        span.input-group-addon 원                
                .form-group
                  lable 손님맞이 준비
                  .d-flex
                    .form-check.px-3.ml-auto
                      label.form-check-label
                        input.form-check-input(type='checkbox')
                        | 바베큐
                  
                    .form-check.px-3
                      label.form-check-label
                        input.form-check-input(type='checkbox')
                        | 조식
                  
                    .form-check.px-3
                      label.form-check-label
                        input.form-check-input(type='checkbox')
                        | 픽업                       
            
          .modal-footer
            - 
              var message01 = `
                swal({
                  title: "예약을 취소 하시겠습니까?",
                  text: "<dl class='row mx-auto'><dt class='col-6'>총 결제금액</dt><dd class='col-6'>360,000원</dd><dt class='col-6'>취소 수수료</dt><dd class='col-6'>120,000원</dd><dt class='col-6'>환불금액 </dt><dd class='col-6'><strong class='text-danger'>240,000원</strong><br><small>3일전 취소 60% 환불</small></dd></dl>",
                  html: true,
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#DD6B55",
                  confirmButtonText: "네, 예약을 취소합니다",
                  cancelButtonText: "아니오",
                  closeOnConfirm: false
                },
                function(){
                  swal("예약이 취소 되었습니다!", "환불금: 240,000원", "success");
                });
              `
            button.btn.btn-danger.mr-auto(type='button', data-dismiss='modal', onclick= message01)
              i.fa.fa-times.fa-lg.mr-1
              span 예약취소              
            button.btn.btn-secondary(type='button', data-dismiss='modal') 닫기
            button.btn.btn-primary(type='button') 변경사항 저장

    //- Modal: 예약생성
    #exampleModal2.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title 
              | 예약생성              
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col-md-4              
                h3.mb-4 예약정보
                .form-group
                  label 예약자명
                  input.form-control(type='text', value='')
                .form-group
                  label 전화번호
                  input.form-control(type='text', value='')
                .form-group
                  label 예약상태
                  select.form-control
                    option 예약완료          
                    option 입금대기
                    option 카드결제 링크전송
                .form-group
                  label 예약메모
                  textarea.form-control(rows='4')
                
              .col-md-8
                h3.mb-4 입실정보
                .form-row
                  .col
                    .form-group   
                      label 입실일
                      input.form-control(type='date', value='2017-11-18')
                  .col
                    .form-group
                      label 퇴실일
                      input.form-control(type='date', value='')
                .form-row
                  .col
                    .form-group   
                      label 도착예정시간
                      input.form-control(type='time', value='')
                  .col
                    .form-group
                      label 퇴실예정시간
                      input.form-control(type='time', value='')
                .form-group
                  label 예약객실
                  select.form-control
                    option(selected) 맨하탄
                    option(disabled) 스테이튼 아일랜드 (완료)
                    option 브롱스
                    option 부르클린
                    option 아스토리아
                .form-group
                  label 투숙인원
                  .form-row
                    .col
                      .input-group
                        span.input-group-addon 성인
                        input.form-control(type='number', value='2', min='0')
                    .col
                      .input-group
                        span.input-group-addon 아동
                        input.form-control(type='number', value='0', min='0')
                    .col  
                      .input-group
                        span.input-group-addon 유아
                        input.form-control(type='number', value='0', min='0')
                .form-group
                  label 부가서비스
                  .form-row
                    .col-5
                      h6.p-2 바베큐(참숯+그릴)                        
                    .col-3
                      .input-group
                        input.form-control(type='number', value='0', min='0')
                        span.input-group-addon 개
                    .col-4
                      .input-group
                        input.form-control(type='text', value='0')
                        span.input-group-addon 원                
                  .form-row
                    .col-5
                      h6.p-2 조식서비스
                    .col-3
                      .input-group
                        input.form-control(type='number', value='0', min='0')
                        span.input-group-addon 개
                    .col-4
                      .input-group
                        input.form-control(type='text', value='0')
                        span.input-group-addon 원                  
                .form-row
                  .col
                    .form-group
                      label 결제금
                      .input-group
                        input.form-control.form-control-lg.text-right(type='text', value='880,000')
                        span.input-group-addon 원
                  .col
                    .form-group
                      label + 현장결제금
                      .input-group
                        input.form-control.form-control-lg.text-right(type='text', value='0')
                        span.input-group-addon 원
                .form-group
                  lable 손님맞이 준비
                  .d-flex
                    .form-check.px-3.ml-auto
                      label.form-check-label
                        input.form-check-input(type='checkbox')
                        | 바베큐
                  
                    .form-check.px-3
                      label.form-check-label
                        input.form-check-input(type='checkbox')
                        | 조식
                  
                    .form-check.px-3
                      label.form-check-label
                        input.form-check-input(type='checkbox')
                        | 픽업                       
            
          .modal-footer           
            button.btn.btn-secondary(type='button', data-dismiss='modal') 닫기
            button.btn.btn-success(type='button') 
              i.fa.fa-check.fa-lg.mr-1
              span 예약생성