include ../../includes/header.pug
include ../../includes/topbar-hotel.pug

.row.no-gutters
  include ../../includes/leftside-hotel.pug

  #content.col-md-8.col-lg-9.col-xl-10
    .row.no-gutters
      .col-md-10.col-xl-8
        h1 패키지 상세정보
        .lead.mb-5 패키지요금은 해당 날짜의 요금을 기준으로 % 또는 증감액으로 자동 설정 됩니다.
        
        .form-group.row
          label.col-md-3.col-form-label 패키지명
          .col-md-9
            input.form-control(type='text', value='')
        .form-group.row
          label.col-md-3.col-form-label 요금설정
          .col-md-9
            .d-flex
              h5.mr-3.mt-2 객실별 요금
              .form-row              
                .col-3
                  select.form-control.mr-2
                    option +
                    option -
                .col-5
                  input.form-control.mr-2(type='number', value='')
                .col-3
                  select.form-control
                    option %
                    option 원
        .form-group.row
          label.col-md-3.col-form-label 적용객실
          .col-md-9
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                | SUPERIOR ROOM (더블)
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                | SUPERIOR ROOM (트윈)
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                | DELUXE ROOM (더블)
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                | DELUXE ROOM (트윈)
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                | JR.SUITE ROOM
        .form-group.row
          label.col-md-3.col-form-label 재고수
          .col-md-9
            .form-row
              .col
                select.form-control
                  option 객실과 재고수 동일
                  option(selected) 객실과 재고수 다름
              .col
                .input-group
                  input.form-control(type='number', min='1', value='1')
                  .input-group-addon 개
        .form-group.row
          label.col-md-3.col-form-label 적용기간
          .col-md-9
            .form-row
              .col-4
                select.form-control
                  option(selected) 상시적용
                  option 입실일 기간적용
              .col-4
                .input-group
                  input.form-control(type='date')
                  .input-group-addon 부터
              .col-4
                .input-group
                  input.form-control(type='date')
                  .input-group-addon 까지
        .form-group.row
          label.col-md-3.col-form-label 환불정책
          .col-md-9
            .d-flex
              .form-check.mr-4
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | 환불가능
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | 환불불가
        
        .py-4
        hr.py-2
        .row
          .col-4
            button.btn.btn-secondary.btn-lg.btn-block(type='button') 뒤로
          .col-8
            button.btn.btn-primary.btn-lg.btn-block(type='button') 저장
              